﻿<Blazorise.ThemeProvider Theme="@theme">
    <CascadingAuthenticationState>
        <Router AppAssembly="@typeof(Program).Assembly">
            <Found Context="routeData">
                <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            </Found>
            <NotFound>
                <LayoutView Layout="@typeof(MainLayout)">
                    <p>Sorry, there's nothing at this address.</p>
                </LayoutView>
            </NotFound>
        </Router>
    </CascadingAuthenticationState>
</Blazorise.ThemeProvider>

@code{
    private Theme theme = new Theme
    {
        IsGradient = true,
        IsRounded = true,
        BackgroundOptions = new ThemeBackgroundOptions
        {
            Primary = "#142939",
            Secondary = "#285172",
            Light = "#a1a1a1",
            Info = "#285172", //Card Background
            Dark = "#142939" //Card Background in About-page
        },
        // theme settings
        ColorOptions = new ThemeColorOptions
        {
            Primary = "#142939",
            Secondary = "#285172",
            Light = "#a1a1a1",
            Dark = "#131313", //Button Color
            Success = "#008000"
        },
        SidebarOptions = new ThemeSidebarOptions
        {
            BackgroundColor = "#142939"
        },
        ButtonOptions = new ThemeButtonOptions
        {
            ActiveDarkenColor = 0.5f
        }
    };
}