﻿body app {
    position: relative;
    display: flex;
    align-items: stretch;
    max-width: 100%;
}

.app-main{
    width: 100%;
}

.app-bar {
    height: 3.5rem;
    display: flex;
    align-items: center;
    top: 0;
    position: sticky;
}

.app-content {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
    max-width: 100%;
    width: 66%;
}

table{
    table-layout: fixed;    
}

.progress.progress-xs {
    height: .25rem; }

.progress.progress-sm {
    height: .5rem; }

.progress.progress-md {
    height: 1rem; }

.progress.progress-lg {
    height: 1.5rem; }

.progress.progress-xl {
    height: 2rem; }

.b-tooltip {
    overflow: visible;
    position: relative; }
    .b-tooltip:hover:not(.is-loading)::after, .b-tooltip.b-tooltip-show:not(.is-loading)::after {
        z-index: 9999;
        position: absolute;
        display: inline-block;
        pointer-events: none; }
    .b-tooltip:hover::before, .b-tooltip.b-tooltip-show::before {
        z-index: 99999;
        position: absolute;
        display: inline-block;
        pointer-events: none; }
    .b-tooltip:hover:not(.is-loading)::after, .b-tooltip.b-tooltip-show:not(.is-loading)::after {
        content: "";
        border-style: solid;
        border-width: .5rem; }
    .b-tooltip:hover::before, .b-tooltip.b-tooltip-show::before {
        opacity: 0;
        content: attr(data-tooltip);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: var(--b-tooltip-font-size, var(--b-font-size-sm, 0.875rem));
        padding: .4rem .8rem;
        background: rgba(128, 128, 128, 0.9);
        border-radius: var(--b-tooltip-border-radius, 4px);
        color: var(--b-tooltip-color, #ffffff);
        max-width: var(--b-tooltip-max-width, 24rem); }
    .b-tooltip:focus:not(.is-loading)::after, .b-tooltip:hover:not(.is-loading)::after, .b-tooltip.b-tooltip-show:not(.is-loading)::after {
        opacity: 1;
        margin-left: -.5rem;
        margin-top: -.5rem; }
    .b-tooltip:focus::before, .b-tooltip:hover::before, .b-tooltip.b-tooltip-show::before {
        opacity: 1; }
    .b-tooltip::before {
        top: auto;
        bottom: 100%;
        left: 50%;
        right: auto; }
    .b-tooltip:focus:not(.is-loading)::after, .b-tooltip:hover:not(.is-loading)::after, .b-tooltip.b-tooltip-show:not(.is-loading)::after {
        top: 0;
        bottom: auto;
        left: 50%;
        right: auto;
        border-color: rgba(128, 128, 128, 0.9) transparent transparent transparent; }
    .b-tooltip:focus::before, .b-tooltip:hover::before, .b-tooltip.b-tooltip-show::before {
        transform: translate(-50%, -0.5rem); }
    .b-tooltip.b-tooltip-bottom::before {
        top: 100%;
        bottom: auto;
        left: 50%;
        right: auto;
        transform: translate(-50%, -1rem); }
    .b-tooltip.b-tooltip-bottom:focus:not(.is-loading)::after, .b-tooltip.b-tooltip-bottom:hover:not(.is-loading)::after, .b-tooltip.b-tooltip-bottom.b-tooltip-show:not(.is-loading)::after {
        top: 100%;
        bottom: auto;
        left: 50%;
        right: auto;
        border-color: transparent transparent rgba(128, 128, 128, 0.9) transparent; }
    .b-tooltip.b-tooltip-bottom:focus::before, .b-tooltip.b-tooltip-bottom:hover::before, .b-tooltip.b-tooltip-bottom.b-tooltip-show::before {
        transform: translate(-50%, 0.5rem); }
    .b-tooltip.b-tooltip-left::before {
        top: auto;
        bottom: 50%;
        left: auto;
        right: 100%;
        transform: translate(1rem, 50%); }
    .b-tooltip.b-tooltip-left:focus:not(.is-loading)::after, .b-tooltip.b-tooltip-left:hover:not(.is-loading)::after, .b-tooltip.b-tooltip-left.b-tooltip-show:not(.is-loading)::after {
        top: 50%;
        bottom: auto;
        left: auto;
        right: calc(100% - .5rem);
        border-color: transparent transparent transparent rgba(128, 128, 128, 0.9); }
    .b-tooltip.b-tooltip-left:focus::before, .b-tooltip.b-tooltip-left:hover::before, .b-tooltip.b-tooltip-left.b-tooltip-show::before {
        transform: translate(-0.5rem, 50%); }
    .b-tooltip.b-tooltip-right::before {
        top: auto;
        bottom: 50%;
        left: 100%;
        right: auto;
        transform: translate(-1rem, 50%); }
    .b-tooltip.b-tooltip-right:focus:not(.is-loading)::after, .b-tooltip.b-tooltip-right:hover:not(.is-loading)::after, .b-tooltip.b-tooltip-right.b-tooltip-show:not(.is-loading)::after {
        top: 50%;
        left: 100%;
        right: auto;
        border-color: transparent rgba(128, 128, 128, 0.9) transparent transparent; }
    .b-tooltip.b-tooltip-right:focus::before, .b-tooltip.b-tooltip-right:hover::before, .b-tooltip.b-tooltip-right.b-tooltip-show::before {
        transform: translate(0.5rem, 50%); }

.b-tooltip-inline {
    display: inline-block; }
