﻿@page "/about"

@using LunchBagApp.Entities
@inject LunchBagContext LunchBagContext

<Row>
    <Column>
        <Card Margin="Margin.Is4.OnY" Background="backgroundColor" IsWhiteText="true">
            <CardHeader>
                <CardTitle Size="4">About LunchBag</CardTitle>
                <CardSubtitle>
                    REMOVED
                </CardSubtitle>
            </CardHeader>
            <CardBody>
                <Heading Size="HeadingSize.Is4">Overview</Heading>
                <Paragraph>
                    You can rate food, leave a comment and even set it as a favorite if you really liked it.<br />
                    <br />
                    Keep track of the food rating over time and leave ratings based on the quality of the food that day.<br />
                    <br />
                    The food wasn't as good as last time? Don't go back to your old comments. Leave a new one.<br />
                    We separate comments by the date that the food was on the menu.<br />
                    That way, you can see if the food has improved or worsened, even in a few weeks.<br />
                    <br />
                    Since everything is anonymous, we ask you to be nice and respectful to each other.
                </Paragraph>
                <Heading Size="HeadingSize.Is4">About the site</Heading>
                <Paragraph>
                    Developer: Seelmann, Marc DETAILS REMOVED<br />
                    Assisting Developer: DETAILS REMOVED<br />
                    REMOVED<br />
                    <br />
                    REMOVED<br />
                    You can view their menu <CardLink Source="REMOVED">here</CardLink>
                </Paragraph>
                <Heading Size="HeadingSize.Is4">Disclaimer</Heading>
                <Paragraph>
                    None of the developers are responsible for what is posted on the site.<br />
                    The opinions expressed in the application belong to the commenters and do not reflect the view of the developers.<br />
                    The material and information provided on the website is for general information purposes only.<br />
                    <br />
                    There is no guarantee for a precise menu display.
                </Paragraph>
            </CardBody>
        </Card>
    </Column>
</Row>
<Row>
    <Column>
        <Card Margin="Margin.Is4.OnY" Background="backgroundColor" IsWhiteText="true">
            <CardHeader>
                <CardTitle Size="4">Anonymity</CardTitle>
                <CardSubtitle>
                Every user can submit their opinions about food anonymously to promote a truthful and honest environment.<br /> 
                Here is how.
                </CardSubtitle>
            </CardHeader>
            <CardBody>
                <Heading Size="HeadingSize.Is4">Hashing</Heading>
                <Paragraph>
                    REMOVED<br />
                    Your real username will not be stored, instead, the name is hashed to create a seemingly random set of letters and numbers.<br />
                    This set will always be the same for the same user, so when you log back in, you can access all the comments and reviews you left previously again.<br />
                    Additionally, the hash is one-way. That means, no one will be able to get the real username if they do get the hashed name.
                </Paragraph>
                <Heading Size="HeadingSize.Is4">Random name</Heading>
                <Paragraph>
                    You will be assigned a random nickname as a pseudonym. This nickname will be displayed every time you leave a review or comment.<br /> 
                    You can find it in the upper left corner of the top-bar.<br />
                    It will be randomly assigned only once, when you log in for the very first time.<br />
                    It consists of a combination of a random adjective followed by a random Pokemon name. This combination will be unique, so no other user will get the exact same combination.                    
                </Paragraph>
            </CardBody>
        </Card>
    </Column>
</Row>
<Row>
    <Column>
        <Card Margin="Margin.Is4.OnY" Background="backgroundColor" IsWhiteText="true">
            <CardHeader>
                <CardTitle Size="4">Feedback</CardTitle>
            </CardHeader>
            <CardBody>
                <Field IsHorizontal="true">
                    <FieldLabel ColumnSize="ColumnSize.Is2">Feedback</FieldLabel>
                    <FieldBody ColumnSize="ColumnSize.Is10">
                        <TextEdit Placeholder="Start typing..." @bind-Text="feedbackText" />
                    </FieldBody>
                </Field>
                <Button Color="buttonColor" Clicked="SubmitFeedback">Submit</Button>
                <Alert Margin="Margin.Is2.FromTop" IsShow="feedbackSubmitted" Color="greenColor" IsDismisable="true">Feedback submitted, thank you!</Alert>
            </CardBody>
        </Card>
    </Column>
</Row>

@code{ 
    private string feedbackText;
    private Blazorise.Color buttonColor = Color.Dark;
    private Blazorise.Color greenColor = Color.Success;
    private Blazorise.Color redColor = Color.Danger;
    private bool feedbackSubmitted = false;
    private Blazorise.Background backgroundColor = Background.Dark;

    private void SubmitFeedback()
    {
        feedbackSubmitted = true;
        var feedback = new Feedback();
        feedback.Text = feedbackText;
        LunchBagContext.Feedback.Add(feedback);
        LunchBagContext.SaveChanges();
        this.StateHasChanged();
    }
}