﻿@page "/favorites"

@using LunchBagApp.Entities
@inject LunchBagContext LunchBagContexts
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject ILogger<Favorites> _logger

<Heading> Favorites</Heading>

@if (LunchBagContexts.Favorite.FirstOrDefault(f => f.UserId == user.Id && f.IsFavorite == true) == null)
{
    <Row>
        <Column ColumnSize="ColumnSize.IsFull.OnDesktop.IsThird.OnTablet.IsFull.OnMobile">
            <Card Margin="Margin.Is4.FromBottom" Background="Background.Info" IsWhiteText="true">
                <CardBody>
                    <CardTitle Size="4">You do not have any favorites yet!</CardTitle>
                </CardBody>
            </Card>
        </Column>
    </Row>
}
else
{

    var favFoodList = LunchBagContexts.Favorite.Where(f => f.UserId == user.Id && f.IsFavorite == true).ToList();
    <Row>
        @foreach (var cat in LunchBagContexts.Category.ToList())
        {
            firstCat = true;
            foreach (var food in LunchBagContexts.Food.Where(f => f.CategoryId == cat.Id).ToList())
            {
                if (favFoodList.FirstOrDefault(f => f.FoodId == food.Id) != null)
                {
                    if (firstCat)
                    {//Display Category once
                        <Column ColumnSize="ColumnSize.IsFull">
                            <Heading Size="HeadingSize.Is4">@cat.Name</Heading>
                        </Column>
                        firstCat = false;
                    }
                    //Display Favorites
                    <Column ColumnSize="ColumnSize.IsHalf.OnDesktop.IsFull.OnTablet.IsFull.OnMobile">
                        <Card Margin="Margin.Is4.FromBottom" Background="Background.Info" IsWhiteText="true">
                            <CardBody>
                                <CardTitle Size="4">@food.Name</CardTitle>
                                <CardText>Rating: @food.OverallRating</CardText>
                                <Button Clicked="@(async () => ChangeFavorite(food.Id))" Color="redColor"><Icon Name="FontAwesomeIcons.MinusCircle" /></Button>
                                <Button Clicked="@(async () => DirectToFood(food.Id))" Color="buttonColor"><Icon Name="FontAwesomeIcons.Edit" /></Button>
                            </CardBody>
                        </Card>
                    </Column>
                }
            }
        }
    </Row>
}


@code {
    private User user;
    private bool firstCat;
    private Blazorise.Color buttonColor = Color.Dark;
    private Blazorise.Color redColor = Color.Danger;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            var userNick = authState.User.Claims.First(claim => claim.Type == "Nickname").Value;
            user = LunchBagContexts.User
                .Where(u => u.Nickname.Equals(userNick))
                .First();
        }
        catch (Exception e)
        {
            _logger.LogError(e.ToString());
            NavigationManager.NavigateTo("", true);
        }
    }

    private void ChangeFavorite(int foodId)
    {
        var fav = LunchBagContexts.Favorite
            .Where(f => f.UserId == user.Id && f.FoodId == foodId)
            .First();
        if (fav.IsFavorite == false)
        {//Change Favorite to true
            LunchBagContexts.Favorite
                .First(f => f.UserId == user.Id && f.FoodId == foodId)
                .IsFavorite = true;
        }
        else
        {//Change Favorite to false
            LunchBagContexts.Favorite
                .First(f => f.UserId == user.Id && f.FoodId == foodId)
                .IsFavorite = false;
        }

        LunchBagContexts.SaveChanges();
        this.StateHasChanged();
    }

    private void DirectToFood(int foodId)
    {//Directing to most recent food-occurrence
        var wdf = LunchBagContexts.WeekDayFood.Where(w => w.FoodId == foodId).OrderByDescending(o => o.WeekId).FirstOrDefault();
        var weekstart = LunchBagContexts.Week.FirstOrDefault(w => w.Id == wdf.WeekId).StartDate;
        NavigationManager.NavigateTo("food-details/" + foodId + "/" + weekstart.Year + "/" + weekstart.Month + "/" + weekstart.Day, true);
    }
}