﻿@page "/feedback"

@using LunchBagApp.Entities
@inject LunchBagContext LunchBagContext

<Heading Size="HeadingSize.Is3">Feedback/DEV</Heading>

<Table IsHoverable="true">
    <TableHeader>
        <TableHeaderCell ColumnSpan="6">Feedback</TableHeaderCell>
        <TableHeaderCell ColumnSpan="3">Note</TableHeaderCell>
        <TableHeaderCell ColumnSpan="1"><Button Color="buttonColor" Clicked="@UpdateNote">Submit</Button></TableHeaderCell>
        <TableHeaderCell ColumnSpan="1">Check</TableHeaderCell>
        <TableHeaderCell ColumnSpan="1">Remove</TableHeaderCell>
    </TableHeader>
    <TableBody>
        @foreach (var feedback in LunchBagContext.Feedback)
        {
        <TableRow>
            <TableRowCell ColumnSpan="6">@feedback.Text</TableRowCell>
            <TableRowCell ColumnSpan="3"><MemoEdit @bind-Text="@LunchBagContext.Feedback.First(f => f.Id == feedback.Id).Note" /></TableRowCell>
            <TableRowCell ColumnSpan="1"></TableRowCell>
            <TableRowCell ColumnSpan="1"><Button Color="IsChecked(feedback) ? greenColor : buttonColor" Clicked="@(async () => SetChecked(feedback))"><Icon Name="FontAwesomeIcons.CheckCircle" /></Button></TableRowCell>
            <TableRowCell ColumnSpan="1"><Button Color="redColor" Clicked="@(async () => RemoveFavorite(feedback))"><Icon Name="FontAwesomeIcons.MinusCircle" /></Button></TableRowCell>
        </TableRow>
        }
    </TableBody>
</Table>

@functions{

    private Blazorise.Color buttonColor = Color.Dark;
    private Blazorise.Color greenColor = Color.Success;
    private Blazorise.Color redColor = Color.Danger;

    private bool IsChecked(Feedback feedback)
    {
        return LunchBagContext.Feedback.First(f => f.Id == feedback.Id).Checked;
    }

    private void RemoveFavorite(Feedback feedback)
    {
        LunchBagContext.Feedback.Remove(feedback);
        LunchBagContext.SaveChanges();
        this.StateHasChanged();
    }

    private void SetChecked(Feedback feedback)
    {
        LunchBagContext.Feedback.First(f => f.Id == feedback.Id).Checked = !IsChecked(feedback);
        LunchBagContext.SaveChanges();
        this.StateHasChanged();
    }

    private void UpdateNote()
    {
        LunchBagContext.SaveChanges();
        this.StateHasChanged();
    }
}