﻿@page "/food-details/{FoodId:int}/{FoodYear:int}/{FoodMonth:int}/{FoodDay:int}"

@using LunchBagApp.Entities
@inject LunchBagContext LunchBagContexts
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject ILogger<Food_Details> _logger
@inject NavigationManager NavigationManager

<Table IsBorderless="false" IsFullWidth="true">
    <TableHeader>
        <TableRow>
            <TableHeaderCell ColumnSpan="1">Favorite</TableHeaderCell>
            <TableHeaderCell ColumnSpan="3">Food | Rating: @Math.Round(food.OverallRating, 2)</TableHeaderCell>
            <TableHeaderCell ColumnSpan="4">
                Review
                <Button Margin="Margin.Is3.OnX" Clicked="@(() => PostComment(LunchBagContexts.Review.FirstOrDefault(r => r.UserId == user.Id && r.WDF.Week.StartDate.Equals(new DateTime(FoodYear, FoodMonth, FoodDay)) && r.WDF.FoodId == FoodId)))" Color="buttonColor">Submit</Button>
                <Button Margin="Margin.Is3.OnX" Clicked="@(() => DeleteComment(LunchBagContexts.Review.FirstOrDefault(r => r.UserId == user.Id && r.WDF.Week.StartDate.Equals(new DateTime(FoodYear, FoodMonth, FoodDay)) && r.WDF.FoodId == FoodId)))" Color="redColor"><Icon Name="FontAwesomeIcons.MinusCircle" /></Button>
            </TableHeaderCell>
            <TableHeaderCell ColumnSpan="4">Charts</TableHeaderCell>
        </TableRow>
    </TableHeader>
    <TableBody>
        <TableRow>
            <TableRowCell ColumnSpan="1">
                <Button Clicked="@(async () => ChangeFavorite(FoodId, user.Id))" Color="LunchBagContexts.Favorite.FirstOrDefault(f => f.FoodId == food.Id && f.UserId == user.Id) != null ? LunchBagContexts.Favorite.First(f => f.FoodId == food.Id && f.UserId == user.Id).IsFavorite ? redColor : buttonColor : buttonColor">
                    <Icon Name="FontAwesomeIcons.Heart" />
                </Button>
            </TableRowCell>
            <TableRowCell ColumnSpan="3">@food.Name</TableRowCell>
            <TableRowCell ColumnSpan="4">
                <Button Clicked="@(async () => ChangeRating(1))"><Icon Name="Star1 ? FontAwesomeIcons.Star : FontAwesomeIcons.Times" /></Button>
                <Button Clicked="@(async () => ChangeRating(2))"><Icon Name="Star2 ? FontAwesomeIcons.Star : FontAwesomeIcons.Times" /></Button>
                <Button Clicked="@(async () => ChangeRating(3))"><Icon Name="Star3 ? FontAwesomeIcons.Star : FontAwesomeIcons.Times" /></Button>
                <Button Clicked="@(async () => ChangeRating(4))"><Icon Name="Star4 ? FontAwesomeIcons.Star : FontAwesomeIcons.Times" /></Button>
                <Button Clicked="@(async () => ChangeRating(5))"><Icon Name="Star5 ? FontAwesomeIcons.Star : FontAwesomeIcons.Times" /></Button>
                <Alert IsShow="rateFood" Color="redColor">You need to select a rating!</Alert>
                <MemoEdit @bind-Text="@comment" Placeholder="Type comment here..." MaxLength="999" Rows="4" />
            </TableRowCell>
            <TableRowCell ColumnSpan="4" Margin="Margin.Is1.OnX.Is1.OnY"><LineChart @ref="lineChart" TItem="double" /></TableRowCell>
        </TableRow>
    </TableBody>
</Table>

<h4>Comments:</h4>

@*Loop to list all the comments, sorted by helpful*@
@if (LunchBagContexts.Review
.FirstOrDefault(r => r.Rating != 0 && LunchBagContexts.WeekDayFood.FirstOrDefault(w => w.Id == r.WDFId).FoodId == FoodId) == null)
{
    <Row>
        <Column ColumnSize="ColumnSize.IsThird.OnDesktop.IsThird.OnTablet.IsFull.OnMobile">
            <Card Margin="Margin.Is4.FromBottom" Background="Background.Dark" IsWhiteText="true">
                <CardBody>
                    <CardTitle Size="4">No one has left a comment yet. Be the first to rate it!</CardTitle>
                </CardBody>
            </Card>
        </Column>
    </Row>
}
else
{
    <Row>
        @foreach (var review in LunchBagContexts.Review
   .Where(r => r.Rating != 0 && LunchBagContexts.WeekDayFood.FirstOrDefault(w => w.Id == r.WDFId).FoodId == FoodId)
   .OrderByDescending(r => r.Helpful)
   .ToList())
        {
            <Column ColumnSize="ColumnSize.IsThird.OnDesktop.IsThird.OnTablet.IsFull.OnMobile">
                <Card Margin="Margin.Is4.FromBottom" Background="Background.Info" IsWhiteText="true">
                    <CardBody>
                        <CardTitle Size="4">
                            @LunchBagContexts.User.First(u => u.Id == review.UserId).Nickname:
                            @for (int i = 1; i <= 5; i++)
                            {
                                if (review.Rating >= i)
                                {<Icon Name="FontAwesomeIcons.Star" />}
                            }@review.Rating/5
                            @foreach (var startDate in LunchBagContexts.Week.Where(w => w.Id == LunchBagContexts.WeekDayFood.FirstOrDefault(wdf => wdf.Id == review.WDFId).WeekId).ToList())
                            {
                                <Paragraph>
                                    <small>from @startDate.StartDate.Month/@startDate.StartDate.Day/@startDate.StartDate.Year</small> @if (LunchBagContexts.Review.First(r => r.Id == review.Id).Edited)
                                    {<small><em>Edited...</em></small>}
                                </Paragraph>
                            }
                        </CardTitle>
                        <CardText>@review.Comment</CardText>
                    </CardBody>
                    <CardBody>
                        <CardText>
                            <TextEdit IsPlaintext="true">Helpful: @review.Helpful</TextEdit>
                            <Button Color="@(IsUp(review.Id, user.Id) ? redColor : greenColor)" Clicked="@(() => ReviewHelpful(review))" Margin="Margin.Is2.FromLeft" IsDisabled="review.UserId == user.Id ? true : false">
                                <Icon Name="@(IsUp(review.Id, user.Id) ? FontAwesomeIcons.TimesCircle : FontAwesomeIcons.ArrowAltCircleUp)" />
                            </Button>
                        </CardText>
                    </CardBody>
                </Card>
            </Column>
        }
    </Row>
}

@functions{
    [Parameter]
    public int FoodId { get; set; }
    [Parameter]
    public int FoodYear { get; set; }
    [Parameter]
    public int FoodMonth { get; set; }
    [Parameter]
    public int FoodDay { get; set; }
    private Food food;
    private Review reviewByUser;
    private User user;
    private Blazorise.Color buttonColor = Color.Dark;
    private Blazorise.Color greenColor = Color.Success;
    private Blazorise.Color redColor = Color.Danger;

    private LineChart<double> lineChart;
    string[] Labels;
    List<string> backgroundColors = new List<string> { ChartColor.FromRgba(40, 81, 114, 0.3f) };//, ChartColor.FromRgba(54, 162, 235, 0.2f), ChartColor.FromRgba(255, 206, 86, 0.2f), ChartColor.FromRgba(75, 192, 192, 0.2f), ChartColor.FromRgba(153, 102, 255, 0.2f), ChartColor.FromRgba(255, 159, 64, 0.2f)
    List<string> borderColors = new List<string> { ChartColor.FromRgba(20, 41, 57, 1f) };      //, ChartColor.FromRgba(54, 162, 235, 1f), ChartColor.FromRgba(255, 206, 86, 1f), ChartColor.FromRgba(75, 192, 192, 1f), ChartColor.FromRgba(153, 102, 255, 1f), ChartColor.FromRgba(255, 159, 64, 1f)


    private string comment;
    private int ratingValue;
    private bool Star1;
    private bool Star2;
    private bool Star3;
    private bool Star4;
    private bool Star5;
    private bool rateFood;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            var userNick = authState.User.Claims.First(claim => claim.Type == "Nickname").Value;
            user = LunchBagContexts.User
                .First(u => u.Nickname.Equals(userNick));

            food = LunchBagContexts.Food
                .First(f => f.Id == FoodId);

            var reviewByUser = LunchBagContexts.Review
                .FirstOrDefault(r => r.UserId == user.Id && r.WDF.Week.StartDate.Equals(new DateTime(FoodYear, FoodMonth, FoodDay)) && r.WDF.FoodId == FoodId);

            comment = reviewByUser == null ? "" : reviewByUser.Comment;
            ratingValue = reviewByUser == null ? 0 : reviewByUser.Rating;
            ChangeRating(ratingValue);
            rateFood = false;
        }
        catch (Exception e)
        {
            _logger.LogError(e.ToString());
            NavigationManager.NavigateTo("", true);
        }
    }

    //DbEntry for Review Table
    private void CreateDbReview(int userId, int wdfId)
    {
        var review = new Review();
        review.WDFId = wdfId;
        review.UserId = userId;
        review.Changed = DateTime.Today;
        LunchBagContexts.Review.Add(review);
        LunchBagContexts.SaveChanges();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await HandleRedraw();
        }
    }

    async Task HandleRedraw()
    {
        lineChart.Clear();

        //Will work as soon as the Blazor serializer gets fixed
        //var axe = new Axe() { Ticks = new AxeTicks() { BeginAtZero = true } };
        //lineChart.SetOptions( new LineChartOptions() { Scales = new Scales() { YAxes = new List<Axe>() { axe} } });

        //Will be removed from Blazorise as soon as Blazor serializer gets fixed
        lineChart.OptionsJsonString = "{ \"scales\": { \"yAxes\": [{ \"ticks\": { \"min\": 0, \"max\": 5 } }] }}";

        var wdfList = LunchBagContexts.WeekDayFood
            .Where(w => w.FoodId == FoodId)
            .OrderBy(o => o.WeekId)
            .ToList();

        Labels = new string[wdfList.Count];
        int i = 0;
        foreach (var wdf in wdfList)
        {
            Labels[i] = LunchBagContexts.Week.FirstOrDefault(w => w.Id == wdf.WeekId).StartDate.ToShortDateString();
            i++;
        }

        lineChart.AddLabel(Labels);

        lineChart.AddDataSet(GetLineChartDataset());

        await lineChart.Update();
    }

    LineChartDataset<double> GetLineChartDataset()
    {
        return new LineChartDataset<double>
        {
            Label = "Rating each time",
            Data = GetData(),
            BackgroundColor = backgroundColors,
            BorderColor = borderColors,
            Fill = true,
            PointRadius = 2,
            BorderDash = new List<int> { }
        };
    }

    List<double> GetData()
    {
        List<double> dataList = new List<double>();
        foreach (var wdfElement in LunchBagContexts.WeekDayFood
            .Where(w => w.FoodId == FoodId)
            .OrderBy(o => o.WeekId)
            .ToList())
        {
            var ratingOfOccurrence = GetRating(wdfElement.Id);
            dataList.Add(ratingOfOccurrence);
        }
        return dataList;
    }

    private double GetRating(int wdfId)
    {//Calculate Rating by getting all reviews with this wdfId
        double counter = 0;
        var revList = LunchBagContexts.Review
            .Where(r => r.WDFId == wdfId && r.Rating != 0)
            .ToList();
        if (revList.Count == 0) { return 0; }
        foreach (var review in revList)
        {
            counter = counter + review.Rating;
        }
        return Math.Round(counter / revList.Count, 2);
    }

    private void ChangeRating(int rating)
    {
        ratingValue = rating;
        Star1 = false;
        Star2 = false;
        Star3 = false;
        Star4 = false;
        Star5 = false;
        if (rating >= 1)
        {
            Star1 = true;
            if (rating >= 2)
            {
                Star2 = true;
                if (rating >= 3)
                {
                    Star3 = true;
                    if (rating >= 4)
                    {
                        Star4 = true;
                        if (rating == 5) { Star5 = true; }
                    }
                }
            }
        }
    }

    private void ChangeFavorite(int foodId, int userId)
    {
        if (LunchBagContexts.Favorite.FirstOrDefault(f => f.UserId == userId && f.FoodId == foodId) == null)
        {//Create Favorite Table Entry
            CreateDbFavorite(userId, foodId);
        }
        var fav = LunchBagContexts.Favorite
            .First(f => f.UserId == userId && f.FoodId == foodId);
        if (fav.IsFavorite == false)
        {//Change Favorite to true
            fav.IsFavorite = true;
        }
        else
        {//Change Favorite to false
            fav.IsFavorite = false;
        }

        LunchBagContexts.SaveChanges();
        this.StateHasChanged();
    }

    //DbEntry for Favorite Table
    private void CreateDbFavorite(int userId, int foodId)
    {
        var fav = new Favorite();
        fav.UserId = userId;
        fav.FoodId = foodId;
        LunchBagContexts.Favorite.Add(fav);
        LunchBagContexts.SaveChanges();
    }

    //DbEntry for ReviewHelpful Tables
    private void CreateDbHelpful(int userId, int reviewId)
    {
        var reviewHelp = new ReviewHelpful();
        reviewHelp.ReviewId = reviewId;
        reviewHelp.UserId = userId;
        LunchBagContexts.ReviewHelpful.Add(reviewHelp);
        LunchBagContexts.SaveChanges();
    }

    private bool IsUp(int reviewId, int userId)
    {
        //Check if already upvoted
        var rev = LunchBagContexts.ReviewHelpful
            .FirstOrDefault(r => r.ReviewId == reviewId && r.UserId == userId);
        if(rev == null)
        {
            return false;
        }
        if (rev.Helpful == true)
        {
            return true;
        }
        else
        {
            return false;
        }
    }

    private void ReviewHelpful(Review review)
    {
        if (review.UserId != user.Id)
        {
            if (LunchBagContexts.ReviewHelpful
                    .FirstOrDefault(r => r.UserId == user.Id && r.ReviewId == review.Id) == null)
            {
                CreateDbHelpful(user.Id, review.Id);
            }
            //Update in ReviewHelpfulTable
            if (IsUp(review.Id, user.Id))
            {//Remove upvote, update review
                LunchBagContexts.ReviewHelpful
                    .First(r => r.ReviewId == review.Id && r.UserId == user.Id)
                    .Helpful = false;
                LunchBagContexts.Review
                    .First(r => r.WDFId == review.WDFId && r.UserId == review.UserId)
                    .Helpful -= 1;
            }
            else
            {//Add upvote, update review
                LunchBagContexts.ReviewHelpful
                    .First(r => r.ReviewId == review.Id && r.UserId == user.Id)
                    .Helpful = true;
                LunchBagContexts.Review
                    .First(r => r.WDFId == review.WDFId && r.UserId == review.UserId)
                    .Helpful += 1;
            }

            LunchBagContexts.SaveChanges();
            this.StateHasChanged();
        }
    }

    private void DeleteComment(Review review)
    {//Remove Comment, Update in ReviewTable
        if (review != null)
        {
            if (LunchBagContexts.Review.First(r => r.Id == review.Id).Edited == false && review.Rating != 0)
            {
                LunchBagContexts.Review
                    .First(r => r.Id == review.Id)
                    .Edited = true;
            }
            comment = "";
            LunchBagContexts.Review
                .First(r => r.Id == review.Id && r.UserId == review.UserId)
                .Comment = comment;
            LunchBagContexts.Review
                .First(r => r.Id == review.Id && r.UserId == review.UserId)
                .Changed = DateTime.Today;

            LunchBagContexts.SaveChanges();
            this.StateHasChanged();
        }
    }

    private void PostComment(Review review)
    {//Add comment to review as long as not longer than 1000char, also add rating
        if (review == null)
        {
            var wdfId = LunchBagContexts.WeekDayFood
                    .First(w => w.FoodId == FoodId && w.Week.StartDate.Equals(new DateTime(FoodYear, FoodMonth, FoodDay)))
                    .Id;
            CreateDbReview(user.Id, wdfId);
            LunchBagContexts.SaveChanges();
            review = LunchBagContexts.Review.First(r => r.UserId == user.Id && r.WDF.Week.StartDate.Equals(new DateTime(FoodYear, FoodMonth, FoodDay)) && r.WDF.FoodId == FoodId);
        }
        if (LunchBagContexts.Review.First(r => r.Id == review.Id).Edited == false && review.Rating != 0)
        {
            LunchBagContexts.Review
                .First(r => r.Id == review.Id)
                .Edited = true;
        }
        if (ratingValue != 0)
        {
            decimal count = 0;
            bool first = true;
            var revList = LunchBagContexts.Review
                .Where(r => LunchBagContexts.WeekDayFood.FirstOrDefault(w => w.Id == r.WDFId).FoodId == FoodId && r.Rating != 0)
                .ToList();
            if (revList.Count != 0)
            {
                foreach (var rating in revList)
                {
                    if (rating.Equals(review) && first)
                    {
                        first = false;
                        continue;
                    }
                    count += rating.Rating;
                }
                count += ratingValue;
            }
            else
            {
                count = ratingValue;
            }
            count /= first ? revList.Count + 1 : revList.Count;

            LunchBagContexts.Food
                .First(f => f.Id == FoodId)
                .OverallRating = count;

            LunchBagContexts.Review
                .First(r => r.Id == review.Id && r.UserId == review.UserId)
                .Rating = ratingValue;

            LunchBagContexts.Review
                .First(r => r.Id == review.Id && r.UserId == review.UserId)
                .Changed = DateTime.Today;

            LunchBagContexts.Review
                .First(r => r.Id == review.Id && r.UserId == review.UserId)
                .Comment = comment;

            LunchBagContexts.SaveChanges();
            this.StateHasChanged();
        }
        else
        {
            rateFood = true;
        }
    }
}