﻿@page "/"
@page "/{PreviousWeeks:int}"

@using LunchBagApp.Entities
@using LunchBagApp.Data
@using Microsoft.EntityFrameworkCore
@inject LunchBagContext LunchBagContexts
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<Tabs SelectedTabChanged="@OnSelectedTabChanged" IsJustified="true" IsPills="true">
    <Tab Name="previous" IsActive="@(selectedTabName == "previous")"><Icon Margin="Margin.Is1.FromRight" Name="FontAwesomeIcons.ArrowAltCircleLeft" />Previous Week</Tab>
    <Tab Name="monday" IsActive="@(selectedTabName == "monday")">Monday,<br /> @weekStart.Month/@weekStart.Day</Tab>
    <Tab Name="tuesday" IsActive="@(selectedTabName == "tuesday")">Tuesday,<br /> @weekStart.AddDays(1).Month/@weekStart.AddDays(1).Day</Tab>
    <Tab Name="wednesday" IsActive="@(selectedTabName == "wednesday")">Wednesday,<br /> @weekStart.AddDays(2).Month/@weekStart.AddDays(2).Day</Tab>
    <Tab Name="thursday" IsActive="@(selectedTabName == "thursday")">Thursday,<br /> @weekStart.AddDays(3).Month/@weekStart.AddDays(3).Day</Tab>
    <Tab Name="friday" IsActive="@(selectedTabName == "friday")">Friday,<br /> @weekStart.AddDays(4).Month/@weekStart.AddDays(4).Day</Tab>
    <Tab Name="next" IsActive="@(selectedTabName == "next")">Next Week<Icon Margin="Margin.Is1.FromLeft" Name="FontAwesomeIcons.ArrowAltCircleRight" /></Tab>
</Tabs>

<Row>
    <Column ColumnSize="ColumnSize.Is3" Margin="Margin.Is4.FromBottom">
        <TextEdit IsPlaintext="true">Current week starts at: @weekStart.Month/@weekStart.Day/@weekStart.Year</TextEdit>
        <Button Clicked="@GoToday" Color="buttonColor"><Icon Name="FontAwesomeIcons.Home" /></Button>
    </Column>
</Row>

@if (LunchBagContexts.WeekDayFood.Any(w => w.WeekId == weekId))
{
    <Table IsBordered="true" IsHoverable="true">
        <TableHeader>
            <TableRow Color="Color.Light">
                <TableHeaderCell ColumnSpan="1">Category</TableHeaderCell>
                <TableHeaderCell ColumnSpan="1">Favorite</TableHeaderCell>
                <TableHeaderCell ColumnSpan="2">Food</TableHeaderCell>
                <TableHeaderCell ColumnSpan="1">Price</TableHeaderCell>
                <TableHeaderCell ColumnSpan="1">Rating</TableHeaderCell>
                <TableHeaderCell ColumnSpan="2">Most helpful comment</TableHeaderCell>
            </TableRow>
        </TableHeader>
        <TableBody>
            @foreach (var meal in LunchBagContexts.WeekDayFood
                .Where(w => w.WeekId == weekId && w.DayId == GetDayId(selectedTabName))
                .Include(w => w.Food)
                    .ThenInclude(f => f.Category)
                .Include(w => w.Food)
                    .ThenInclude(f => f.Favorite)
                .ToList())
            {
                var rev = LunchBagContexts.Review.Where(r => r.Rating != 0 && r.WDF.FoodId == meal.FoodId).Include(r => r.User).OrderByDescending(o => o.Helpful).FirstOrDefault();
                <TableRow Clicked="@(async () => DirectToFood(meal.FoodId))">
                    <TableRowCell ColumnSpan="1">@meal.Food.Category.Name</TableRowCell>
                    <TableRowCell ColumnSpan="1">
                        <Button Clicked="@(async () => ChangeFavorite(meal.FoodId, user.Id))" Color="meal.Food.Favorite.FirstOrDefault(f => f.UserId == user.Id) != null ? meal.Food.Favorite.First(f => f.UserId == user.Id).IsFavorite ? redColor : buttonColor : buttonColor">
                            <Icon Name="FontAwesomeIcons.Heart" />
                        </Button>
                    </TableRowCell>
                    <TableRowCell ColumnSpan="2">@meal.Food.Name</TableRowCell>
                    @if (meal.Food.Price == "")
                    {
                        <TableRowCell ColumnSpan="1">?</TableRowCell>
                    }
                    else
                    {
                        <TableRowCell ColumnSpan="1">$@meal.Food.Price</TableRowCell>
                    }
                    <TableRowCell ColumnSpan="1">
                        @for (int i = 1; i <= 5; i++)
                        {
                            if (meal.Food.OverallRating >= i)
                            {<Icon Name="FontAwesomeIcons.Star" />}
                            else if (meal.Food.OverallRating < i && meal.Food.OverallRating > i - 1)
                            { <Icon Name="FontAwesomeIcons.StarHalf" />}
                        }
                        @meal.Food.OverallRating
                    </TableRowCell>
                    <TableRowCell ColumnSpan="2">
                        <Card Background="Background.Info" IsWhiteText="true">
                            <CardBody>
                                @if (rev == null)
                                {
                                    <CardTitle Size="6">
                                        <CardText>No Reviews yet!</CardText>
                                    </CardTitle>
                                    <CardText>Be the first to comment!</CardText>
                                }
                                else
                                {
                                    <CardTitle Size="6">
                                        <CardText>@rev.User.Nickname</CardText>
                                    </CardTitle>
                                    <CardText>@rev.Comment</CardText>

                                }

                            </CardBody>
                        </Card>
                    </TableRowCell>
                </TableRow>
            }

        </TableBody>
    </Table>
}
else
{
    <Heading Size="HeadingSize.Is3"><strong>There is no menu for this week yet!</strong></Heading>
}

@if (user.Id == 8 | user.Id == 9)
{
    <Heading Size="HeadingSize.Is5">Dev-Info</Heading>
    <Button Color="buttonColor" Clicked="@(async () => _foodUpdate.UpdateFood(PreviousWeeks))">Update Food</Button>
    <Alert Margin="Margin.Is2.FromTop" IsShow="LunchBagContexts.Feedback.Any(f => f.Checked == false)" Color="greenColor" IsDismisable="false">There is new Feedback for you!</Alert>
}

@functions{

    [Parameter]
    public int PreviousWeeks { get; set; }
    private FoodUpdate _foodUpdate;

    private DateTime weekStart;
    private int weekId;
    private string selectedTabName = DateTime.Today.DayOfWeek.ToString().ToLower();
    private User user;
    private bool favClicked = false;
    private Blazorise.Color buttonColor = Color.Dark;
    private Blazorise.Color greenColor = Color.Success;
    private Blazorise.Color redColor = Color.Danger;
    private bool firstComment = true;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var userNick = authState.User.Claims.First(claim => claim.Type == "Nickname").Value;
        user = LunchBagContexts.User
            .First(u => u.Nickname.Equals(userNick));

        weekStart = DateTime.Today.AddDays(-(int)DateTime.Today.DayOfWeek + (int)DayOfWeek.Monday + 7 * PreviousWeeks);
        try
        {
            weekId = LunchBagContexts.Week.First(w => w.StartDate.Equals(weekStart)).Id;
        }
#pragma warning disable CS0168 // Variable is declared but never used
        catch (Exception e)
#pragma warning restore CS0168 // Variable is declared but never used
        {
            weekId = 0;
        }


        _foodUpdate = new FoodUpdate(LunchBagContexts);
    }

    //DbEntry for Review Table
    private void CreateDbReview(int userId, int wdfId)
    {
        var review = new Review();
        review.WDFId = wdfId;
        review.UserId = userId;
        review.Changed = DateTime.Today;
        LunchBagContexts.Review.Add(review);
        LunchBagContexts.SaveChanges();
    }

    //DbEntry for Favorite Table
    private void CreateDbFavorite(int userId, int foodId)
    {
        var fav = new Favorite();
        fav.UserId = userId;
        fav.FoodId = foodId;
        LunchBagContexts.Favorite.Add(fav);
        LunchBagContexts.SaveChanges();
    }

    private void ChangeFavorite(int foodId, int userId)
    {
        if (LunchBagContexts.Favorite.FirstOrDefault(f => f.UserId == userId && f.FoodId == foodId) == null)
        {//Create Favorite Table Entry
            CreateDbFavorite(userId, foodId);
        }
        favClicked = true;
        var fav = LunchBagContexts.Favorite
            .First(f => f.UserId == userId && f.FoodId == foodId);
        if (fav.IsFavorite == false)
        {//Change Favorite to true
            fav.IsFavorite = true;
        }
        else
        {//Change Favorite to false
            fav.IsFavorite = false;
        }

        LunchBagContexts.SaveChanges();
        this.StateHasChanged();
    }

    private void GoToday()
    {
        NavigationManager.NavigateTo("", true);//Today
    }

    private void OnSelectedTabChanged(string name)
    {
        if (name == "previous")
        {
            NavigationManager.NavigateTo("" + (PreviousWeeks - 1), true); //Previous Week
        }
        else if (name == "next")
        {
            NavigationManager.NavigateTo("" + (PreviousWeeks + 1), true); //Next Week
        }
        else
        {
            selectedTabName = name;
            this.StateHasChanged();
        }
    }

    private int GetDayId(string dayname)
    {
        switch (dayname)
        {
            case "monday":
                return (int)DayOfWeek.Monday;
            case "tuesday":
                return (int)DayOfWeek.Tuesday;
            case "wednesday":
                return (int)DayOfWeek.Wednesday;
            case "thursday":
                return (int)DayOfWeek.Thursday;
            case "friday":
                return (int)DayOfWeek.Friday;
            default:
                return 0;
        }
    }

    private void DirectToFood(int foodId)
    {
        if (!favClicked)
        {
            NavigationManager.NavigateTo("food-details/" + foodId + "/" + weekStart.Year + "/" + weekStart.Month + "/" + weekStart.Day, true);
        }
        favClicked = false;
    }
}