﻿@page "/mycomments"

@using LunchBagApp.Entities
@inject LunchBagContext LunchBagContext
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject ILogger<MyComments> _logger


<Row>
    <TextEdit Margin="Margin.Is2.OnX" IsPlaintext="true">Sort by: </TextEdit>
    <SelectEdit @bind-SelectedValue="sortValue" ColumnSize="ColumnSize.IsQuarter.OnDesktop.IsFull.OnMobile.IsHalf.OnTablet" Margin="Margin.Is2.FromLeft.Is2.FromBottom">
        <SelectItem Value="SortBy.Helpful">Helpful</SelectItem>
        <SelectItem Value="SortBy.Rating">Rating</SelectItem>
        <SelectItem Value="SortBy.Category">Category</SelectItem>
    </SelectEdit>
</Row>

<Heading>My comments</Heading>

@* List all the user-comments, sorted by the key in enum SortBy *@
@if (LunchBagContext.Review
.Where(r => r.UserId == user.Id && r.Rating != 0)
.FirstOrDefault() == null)
{//No comments yet
    <Row>
        <Column ColumnSize="ColumnSize.IsFull.OnDesktop.IsThird.OnTablet.IsFull.OnMobile">
            <Card Margin="Margin.Is4.FromBottom" Background="Background.Info" IsWhiteText="true">
                <CardBody>
                    <CardTitle Size="4">You haven't left a comment yet. You will be able to see all your comments here!</CardTitle>
                </CardBody>
            </Card>
        </Column>
    </Row>
}
else if (!sortValue.Equals(SortBy.Category))
{//Display comments
    <Row>
        @foreach (var review in LunchBagContext.Review
.Where(r => r.UserId == user.Id && r.Rating != 0)
.OrderByDescending(o => sortValue.Equals(SortBy.Helpful) ? o.Helpful : o.Rating)
.ToList())
        {

            <Column ColumnSize="ColumnSize.IsHalf.OnDesktop.IsHalf.OnTablet.IsHalf.OnMobile">
                <Card Margin="Margin.Is3.FromBottom" Background="Background.Info" IsWhiteText="true">
                    <CardBody>
                        <CardTitle Size="5">
                            You rated "@LunchBagContext.Food.FirstOrDefault(f => f.Id == LunchBagContext.WeekDayFood.FirstOrDefault(w => w.Id == review.WDFId).FoodId).Name" with
                            @for (int i = 1; i <= 5; i++)
                            {
                                if (review.Rating >= i)
                                {<Icon Name="FontAwesomeIcons.Star" />}
                                else if (review.Rating < i && review.Rating > i - 1)
                                { <Icon Name="FontAwesomeIcons.StarHalf" />}
                            }
                            @review.Rating/5
                            @foreach (var startDate in LunchBagContext.Week.Where(w => w.Id == LunchBagContext.WeekDayFood.FirstOrDefault(wdf => wdf.Id == review.WDFId).WeekId).ToList())
                            {
                                <Paragraph><small>Appeared on @startDate.StartDate.Month/@startDate.StartDate.Day/@startDate.StartDate.Year</small></Paragraph>
                            }
                        </CardTitle>
                        <CardText>@review.Comment</CardText>
                    </CardBody>
                    <CardBody>
                        <CardText>Helpful: @review.Helpful</CardText>
                        <Button Clicked="@(async () => DirectToFood(LunchBagContext.WeekDayFood.FirstOrDefault(w => w.Id == review.WDFId).FoodId, review.WDFId))" Color="buttonColor"><Icon Name="FontAwesomeIcons.Edit" /></Button>
                    </CardBody>
                </Card>
            </Column>

        }
    </Row>

}
else
{//Sort by Category
    <Row>
        @foreach (var category in LunchBagContext.Category.ToList())
        {
            firstCat = true;
            @foreach (var review in LunchBagContext.Review
          .Where(r => r.UserId == user.Id && r.Rating != 0)
          .OrderByDescending(o => o.Helpful)
          .ToList())
            {
                if (LunchBagContext.Food.First(f => f.Id == LunchBagContext.WeekDayFood.FirstOrDefault(w => w.Id == review.WDFId).FoodId).CategoryId == category.Id)
                {
                    if (firstCat)
                    {//Header of Category, just once
                        <Column ColumnSize="ColumnSize.IsFull">
                            <Heading Size="HeadingSize.Is4">@category.Name</Heading>
                        </Column>
                        firstCat = false;
                    }
                    //Display Food
                    <Column ColumnSize="ColumnSize.IsHalf.OnDesktop.IsFull.OnTablet.IsFull.OnMobile">
                        <Card Margin="Margin.Is4.FromBottom" Background="Background.Info" IsWhiteText="true">
                            <CardBody>
                                <CardTitle Size="4">
                                    You rated "@LunchBagContext.Food.FirstOrDefault(f => f.Id == LunchBagContext.WeekDayFood.FirstOrDefault(w => w.Id == review.WDFId).FoodId).Name" with
                                    @for (int i = 1; i <= 5; i++)
                                    {
                                        if (review.Rating >= i)
                                        {<Icon Name="FontAwesomeIcons.Star" />}
                                        else if (review.Rating < i && review.Rating > i - 1)
                                        { <Icon Name="FontAwesomeIcons.StarHalf" />}
                                    }
                                    @review.Rating/5
                                    @foreach (var startDate in LunchBagContext.Week.Where(w => w.Id == LunchBagContext.WeekDayFood.FirstOrDefault(wdf => wdf.Id == review.WDFId).WeekId).ToList())
                                    {
                                        <Paragraph><small>Appeared on @startDate.StartDate.Month/@startDate.StartDate.Day/@startDate.StartDate.Year</small></Paragraph>
                                    }
                                </CardTitle>
                                <CardText>@review.Comment</CardText>
                            </CardBody>
                            <CardBody>
                                <CardText>Helpful: @review.Helpful</CardText>
                                <Button Clicked="@(async () => DirectToFood(LunchBagContext.WeekDayFood.First(w => w.Id == review.WDFId).FoodId, review.WDFId))" Color="buttonColor">Edit</Button>
                            </CardBody>
                        </Card>
                    </Column>
                }
            }
        }
    </Row>
}

@code {

    private User user;
    private SortBy sortValue;
    private bool firstCat = true;
    private Blazorise.Color buttonColor = Color.Dark;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            var userNick = authState.User.Claims.First(claim => claim.Type == "Nickname").Value;
            user = LunchBagContext.User
                .First(u => u.Nickname.Equals(userNick));
        }
        catch (Exception e)
        {
            _logger.LogError(e.ToString());
            NavigationManager.NavigateTo("", true);
        }
    }

    private enum SortBy
    {
        Helpful, Rating, Category
    }

    private void DirectToFood(int foodId, int wdfId)
    {//Directing to most recent food-occurrence
        var wdf = LunchBagContext.WeekDayFood.FirstOrDefault(w => w.Id == wdfId);
        var weekstart = LunchBagContext.Week.FirstOrDefault(w => w.Id == wdf.WeekId).StartDate;
        NavigationManager.NavigateTo("food-details/" + foodId + "/" + weekstart.Year + "/" + weekstart.Month + "/" + weekstart.Day);
    }
}
