﻿@layout RootLayout
@inherits LayoutComponentBase
@using LunchBagApp.Entities
@inject LunchBagContext LunchBagContext
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject ILogger<MainLayout> _logger

<Sidebar @ref="sidebar">
    <SidebarContent>
        <SidebarBrand>
            <a href="">LunchBag</a>
        </SidebarBrand>
        <SidebarNavigation>
            <SidebarItem>
                <SidebarLink To="" Title="Show weekly overview">
                    <Icon Name="IconName.Dashboard" Margin="Margin.Is3.FromRight" />Weekly Overview
                </SidebarLink>
            </SidebarItem>
            <SidebarItem>
                <SidebarLink To="favorites" Title="Show favorites">
                    <Icon Name="FontAwesomeIcons.Heart" Margin="Margin.Is3.FromRight" />My Favorites
                </SidebarLink>
            </SidebarItem>
            <SidebarItem>
                <SidebarLink To="mycomments" Title="Show my comments">
                    <Icon Name="IconName.Edit" Margin="Margin.Is3.FromRight" />My Comments
                </SidebarLink>
            </SidebarItem>
            <SidebarItem>
                <SidebarLink To="about" Title="About">
                    <Icon Name="FontAwesomeIcons.Chalkboard" Margin="Margin.Is3.FromRight" />About
                </SidebarLink>
            </SidebarItem>
            <Field Visibility="isDev ? Visibility.Always : Visibility.Never">
                <SidebarItem>
                    <SidebarLink To="feedback" Title="Get Feedback for Dev">
                        <Icon Name="FontAwesomeIcons.EnvelopeOpenText" Margin="Margin.Is3.FromRight" />Feedback
                    </SidebarLink>
                </SidebarItem>
            </Field>
        </SidebarNavigation>
    </SidebarContent>
</Sidebar>

<div class="app-main">
    <Bar Class="app-bar" Breakpoint="Breakpoint.Desktop" Background="Background.Secondary">
        <BarMenu>
            <BarEnd>
                <LoginDisplay />
            </BarEnd>
        </BarMenu>
    </Bar>
    <div class="app-content">
        @Body
    </div>
</div>

@code{
    Sidebar sidebar;
    private string userNick;
    private bool isDev;
    private User user;

    void ToggleSidebar()
    {
        sidebar.Toggle();
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            userNick = authState.User.Claims.First(claim => claim.Type == "Nickname").Value;
            user = LunchBagContext.User
                .First(u => u.Nickname.Equals(userNick));

            isDev = false;
            if (user.Id == 8 | user.Id == 9)
            {
                isDev = true;
            }
        }
        catch (Exception e)
        {
            _logger.LogError(e.ToString());
        }
    }

    [CascadingParameter] public Theme Theme { get; set; }
}